body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;    
}

.dropdown-btn {
    background-color: purple;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropdown-content {
    background-color: whitesmoke;
    display: none;
    position: absolute;
    width: 160px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
