h2 {
    text-align: center;
    font-weight: bold;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.icon {
    margin: 24px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center; 
}

.icon img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 4px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}
img {
    width: 100%;
    height: 200px;
}