@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: #101a20;
}

.bg{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: #101a20;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* z-index control the overlap */
    z-index: -2; 
}
/* rem is relative size */
.nav {
    height: 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;   
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.nav-logo img {
    width: 40px;
    height: 40px; 
    border-radius: 50%;   
}

.nav-logo {
    display: flex;
    gap: 10px;
    font-size: 1.5rem;
    margin: auto 1rem;
    font-weight: bold;
}

.nav-menu ul {
    margin: 0;
    padding: 0;
    /* make it lineup horizontally*/
    display: flex;
}

.nav-menu ul li {
    /* remove bullet point */
    list-style: none;
}

.nav-menu ul li a {
    /* remove underline */
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.nav-menu li:hover {
    background-color: rgb(255, 255, 255, 0.5);
}

.nav-hamburger {
    width: 1.875rem;
    height: 1.313rem;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

    
.nav-hamburger-line {
    height: 0.188rem;
    width: 100%;
    background-color: white;
    border-radius: 0.625rem;
    transition: all ease-in-out 0.2s;
}

.summary {
    padding-top: 250px;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    align-items: center;
}


/* Rainbow gradient */
/* .img-content::after, .img-content::before {
    content: "";
    position: absolute;
    height: 101%;
    width: 101%;
    background-image: conic-gradient(#ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 10px;
    border-radius: 10px;
}

.img-content::before {
    filter: blur(1.5rem);
    opacity: 0.5;
} */


.img-content {
    margin: 0 auto;
    flex-shrink: 0;
    width: 500px;
    background: none;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.img-content img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.img-content::after, .img-content::before {
    content: "";
    position: absolute;
    height: 103%;
    width: 103%;
    background-image: conic-gradient(from var(--angle), transparent 50%, green);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 10px;
    border-radius: 5%;
    animation: 2s spin linear infinite;
}

.img-content::before {
    filter: blur(1.5rem);
    opacity: 1;
}
@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;   
    }
}
.text-content {
    text-align: left;
    width: 100%;
    width: 600px;
    flex-shrink: 0;
}

.text-content h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.text-content p {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    max-width: 500px; 
    margin-left: 0; 
    margin-right: 0;  
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    word-break: break-word; 
}

.text-content button {
    margin-top: 30px;
}

.cv1-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
    max-width: 1200px;
    justify-content: flex-start;
}

.cv2-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 100px;
    max-width: 1200px;
    justify-content: flex-start;
}


.contact-logo-wrapper {
    display: flex;
    gap: 15px;
    margin-top: 30px;
    align-items: center;    
}

.contact-logo {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-logo img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    height: 50px;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
}
.back-to-top{
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-out;
}

.back-to-top img {
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    border-image: linear-gradient(to right, rgb(128, 0, 255), rgb(55, 52, 255)) 1;
}


@media screen and (max-width: 1300px) {
    .container {
        flex-direction: column;
        gap: 60px;
        align-items: center;
        padding: 0 30px;
    }
    .cv1-wrapper, .cv2-wrapper {
        flex-direction: column; 
        gap: 40px;
        width: 100%;
        max-width: 600px;
    } 
    .img-conte.back-to-top-imgt {
        width: 100%;
        max-width: 400px;
        order: 1; 
    } 
    .text-content {
        width: 100%;
        max-width: 500px;
        order: 2; 
        text-align: center;
    }
    .text-content h1 {
        font-size: 2.2rem;
    }  
    .text-content p {
        text-align: left;
        font-size: 1.1rem;
    }
    .contact-logo-wrapper {
        justify-content: center;
    }
}

@media screen and (max-width: 550px) {
    .nav-hamburger {
        display: flex;
    }
    .nav-menu {
        position: absolute;
        display: flex;
        align-items: center;
        background-color: rgba(72, 136, 199, 0.5);
        top: -18rem;
        width: 100%;
        transition: all ease-in-out 0.2s;
    }
    .nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-menu ul {
        flex-direction: column;
        width: 100%;
        padding: 3rem 0 0.6rem;
    }
    .nav-menu ul li {
        text-align: center;
    }
    .nav-menu {
        z-index: -1;
    }
    .nav-menu.active {
        top: 0;
    }
    .nav-hamburger.active :nth-child(1) {
        transform: rotate(45deg) translate(0.45rem, 0.1875rem);
    }
    .nav-hamburger.active :nth-child(2) {
        opacity: 0;
    }
    .nav-hamburger.active :nth-child(3) {
        transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
    }
    .img-content {
        width: 100%;
        max-width: 300px;
    }
    .text-content {
        text-align: center;
    }
    .text-content h1 {
        font-size: 1.8rem;
    }
    .text-content p {
        font-size: 1rem;
    }
}



/* ----------------------------------------------------------------------------------- */

/* page 1 */
.overall {
    display: flex;
    padding-top: 200px;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 200px;
}
.about {
    display: flex;
    gap: 100px;
    margin-top: 50px;
    margin: 0 auto; 
    padding: 0 20px;
    max-width: 1300px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content-container {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.content-container h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

.content-container h2 {
    font-size: 1.5rem;
}

.content-container p {
    color: white;
    font-size: 1.2rem;
    max-width: 900px; 
    margin-left: 0; 
    justify-content: center;
    align-items: center;
    margin-right: 0;  
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    word-break: break-word; 
}

.about-img-content {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    width: 450px;
    background: none;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

/* Rainbow gradient */
.about-img-content::after, .about-img-content::before {
    content: "";
    position: absolute;
    height: 101%;
    width: 101%;
    background-image: conic-gradient(#ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 10px;
    border-radius: 10px;
}

.about-img-content::before {
    filter: blur(1.5rem);
    opacity: 0.8;
}

.contact {
    display: flex;
    height: 500px;
    gap: 250px;
}
.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title h2 {
    color: white;
    margin-bottom: 5px;
    font-size: 40px;
}
.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: orange;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-inputs {
    width: 100%;
    width: 400px;
    background-color: white;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500px;
    color: #666;
    border-radius: 50px;
}
.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus {
    border: 2px solid #ff994f;
}
.contact-inputs::placeholder {
    color: #a9a9a9;
}
.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    padding-right: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #ff994f, #fa6d86);
    cursor: pointer;
}
.contact-left button:hover {
    opacity: 0.8;
}
.contact-right {
    flex-shrink: 0;
}
.contact-right img {
    width: 500px;
    flex-shrink: 0;
}
@media screen and (max-width:1200px){
    .contact {
        gap: 100px;
    }
}
@media screen and (max-width:1100px) {
    .contact {
        gap: 0;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
        /* padding: 40px 20px; */
    }

    .contact-right {
        display: none;
    }
}

/* show case zone */
.showcase {
    display: grid;
    grid-template-columns: repeat(3, 1fr);;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: arial;
    border-radius: 12px;
    overflow: hidden;
}

.card p {
    color: grey;
    font-size: 1.2rem;
}
.card h1 {
    font-size: 2.5rem;
}
.card img {
    width: 100%;
    height: 200px;
}
.work-button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.work-button:hover, .card a:hover {
    opacity: 0.7;
}
.showcase-title {
    text-align: center;
}
.showcase-title p {
    margin-bottom: 50px;
}

@media screen and (max-width: 1200px) {
    .showcase {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        max-width: 900px;
    }
}
@media screen and (max-width: 830px) {
    .showcase {
        grid-template-columns: 1fr;
        gap: 25px;
        max-width: 100%;
    }
    .card img {
        height: 220px;
    }
    .card h1 {
        font-size: 2rem;
    }
    .card p {
        font-size: 1.1rem;
    }
}
@media screen and (max-width: 1350px) {
    .about-img-content {
        width: 100%;
        max-width: 300px;
    }
}
@media screen and (max-width: 1100px) {
    .about {
        flex-direction: column;
        gap: 50px;
        text-align: center;
        margin: 0 auto; 
        padding: 0 20px;
    }
    .about-text-content {
        order: 2;
    }
    .about-img-content {
        width: 100%;
        max-width: 300px;
        order: 1;
    }
    .content-container p {
        max-width: 600px;
        text-align: left;
    }
}
@media screen and (max-width: 600px) {
    .about {
        gap: 40px;
        padding: 0 20px;
    }
    .about-img-content {
        max-width: 280px;
        order: 1;
    } 
    .content-container h1 {
        font-size: 2rem;
    }
    .content-container p {
        font-size: 1rem;
    }
    .footer img{
        width: 30px;
        height: 30px;
    }
}