html, body { 
    height: 100%; 
    margin: 0; 
}
table {
    width: 100%;
    height: 100%;
    table-layout: auto;
    border-collapse: collapse;
    overflow-x: auto;
}
td {
    font-size: 1em;
    padding: 70px;
    border: 2px solid black;
}
@media (max-width: 768px) {
    tr {
        display: block;
    }
    td {
        display: block;
        width: 100%;
    }
}
.first_cell {
    background-color: rgb(170, 208, 172);
}
.second_cell {
    background-color: rgb(255, 177, 177);
}